@import url("https://fonts.googleapis.com/css2?family=Ubuntu&family=Grape+Nuts&family=Roboto&family=Roboto:wght@100&family=Quicksand&family=M+PLUS+Rounded+1c&family=Signika+Negative&display=swap");


body {
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-family: "Quicksand", sans-serif;
  background-color: rgb(255, 250, 248);
  overflow-y: scroll;
  }

::selection{
  background-color: rgb(0, 110, 255);
  color: white;
}

